# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/

# debug logs
*.log
dev.log

# misc
.DS_Store
*.pem

# local env files
.env
.env*.local

# firebase service account
apor-tree-firebase-adminsdk-*.json

# typescript
*.tsbuildinfo
next-env.d.ts
